.foto-perfil{
    width:200px;
    border: 5px double #000000;
}

.cabecalho{
    background-color: rgb(5, 5, 5);
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
    background-image: url(fundo.jpg);
    background-size: cover;
}

.nome{
    color: rgb(0, 0, 0);
    margin-top: 2px;
    margin-bottom: 0;
    font-family: 'arial';
    font-size: 38px;
}

.cargo{
    color: #050505;
    margin-top: 2px;
    font-family: 'segoe UI';
    font-weight: 200;
    font-size: 22px;
}

.botao{
    border: 1px solid rgb(0, 0, 0);
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    font-family: segoe UI;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
}
.botao:hover{
    background-color: black;
    color: rgb(201, 182, 18);
}

.iformacoes{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    padding-top: 20px;
}

.titulo{
    font-family: segoe UI;
    color: black;
    border-bottom: 1px solid;
    margin-top: 30px;
    text-transform: uppercase;
}

.texto-sobre{
    font-size: 16px;
    font-family: segoe UI;
    font-weight: 400;
    color: black;
    
}
